body {
    background-color: #F8F8F8;
}
/* NAVBAR start */
.navbar-custom {
    background-color: #eee;
    margin: 0;
}

/* NAVBAR end */

.hero-unit {
    background:url('https://thechicagoblock.files.wordpress.com/2012/10/uic_006.jpg') no-repeat center center;
    background-size:cover;
    background-color: #EEEEEE;
    height:400px;
    padding-top:20px;
}

.home-box {
    border-radius: 20px;
    position: absolute;
    left: 10%;
    color: #f8f8f8;
    padding: 15px;
    text-shadow: #444 0 1px 1px;
    max-width: 500px;
    min-width: 250px;
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 550px) {
    .home-box {
        left: 0%;
        max-width: auto;
    }
}

.container-main {
    margin-bottom: 100px;
}

.text-align-center {
    text-align: center;
}
.footer {
    background-color: #242729;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 20px;

}
.text-footer {
    color: #B4BDC1;
}
.btn {
    margin: 20px;
}
.center-block {
    text-align: center;
}
.btn-custom {
    background-color: #75845C;
    border-color: floralwhite;
    color: floralwhite;
}
.btn-danger {
    background-color: #DB6450;
    border-color: floralwhite;
    color: floralwhite;
}
a {
    color: #75845C;
}
.page-header {
    margin-bottom: 25px;
    margin-top: 25px;
}
#dialog-confirm {
    display: none;
}

.list-group-item {
    background-color: transparent;
}
.message-wrapper {
    margin: 60px;
    
}

