{% load i18n %}
<style>
 .button {
     display: block;
     width: 200px;
     height: auto;
     padding: 10px 16px;
     margin: 20px;
     border-radius: 6px;
     background-color: #75845C;
     border-color: floralwhite;
     color: floralwhite;
     text-decoration: none;
     text-align: center;
     font-size: 18px;

 }
</style>

<p>Hello there!</p>

<p>To confirm your email address and start scheduling appointments just click on the button below</p>

<a class="button" href="http://{{ site.domain }}{% url 'registration_activate' activation_key %}">Activate your account</a>
<p>if the button doesn't work you can copy and paste this url in your browser window: http://{{ site.domain }}{% url 'registration_activate' activation_key %}</a></p>
{% blocktrans %}
<p>This link will be valid for {{ expiration_days }} days.</p>
{% endblocktrans %}
<p>Thanks,</p>
<p>- Math Center Team</p>
