{% extends "base.html" %}
{% load i18n %}

{% block page_title %}Activation complete!{% endblock %}

{% block page_content %}
<div class="message-wrapper">
    <div class="row">
        <p class='lead'>{% trans "Your account is now activated." %}</p>
    </div>
</div>
{% endblock %}
