{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block page_title %}Login{% endblock %}

{% block page_content %}
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1 class="page-header text-center">Login here with your student.ccc.edu email as a username</h1>
        <form method="post" action=".">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="col-xs-10 col-xs-offset-1">
                <input class='btn btn-block btn-custom' type="submit" value="{% trans 'Login' %}" />
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </form>
    </div>

</div>
<hr/>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3 text-align-center'>
        <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
        <p>{% trans "Don't have an account" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
    </div>
</div>

{% endblock %}
