{% extends "base.html" %}
{% load i18n %}

{% block page_title %}Logout{% endblock %}

{% block page_content %}
<div class="message-wrapper">
    <div class="row">
        <p class='lead'>You have successfully logged out.</p><p class='lead'><a href="{% url 'auth_login' %}">Login</a></p></p>
    </div>
</div>
{% endblock %}
