{% extends "base.html" %}
{% load i18n %}

{% block page_title %}Password reset complete!{% endblock %}

{% block page_content %}
<div class="message-wrapper">
    <div class="row">
        <p class="text-align-center lead">{% trans "Password reset successfully" %}</p>
        
        <p class="text-align-center lead"><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></p>
    </div>
</div>
{% endblock %}
