{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block page_title %}Reset your password{% endblock %}

{% block page_content %}

{% if validlink %}
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <form method="post" action=".">
            {% csrf_token %} 
            {{ form|crispy }}
            <div class="col-xs-10 col-xs-offset-1">
                <input type="submit" class="btn btn-block btn-custom" value="{% trans 'Submit' %}" />
            </div>
        </form>
    </div>
</div>

{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}

{% endblock %}
