{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block page_title %}Change your password{% endblock %}

{% block page_content %}
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
	<form method="post" action=".">
	    {% csrf_token %} 
	    {{ form|crispy }}
            <div class="col-xs-10 col-xs-offset-1">
	        <input class="btn btn-block btn-custom" type="submit" value="{% trans 'Submit' %}" />
            </div>
	</form>

    </div>
</div>
{% endblock %}
