{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block page_title %}Password reset{% endblock %}

{% block page_content %}
<div class="row">
    <div class='col-sm-6 col-sm-offset-3'>
	<h1>Password Reset</h1>
	<p class='lead'>Reset your password using your email below.</p>
	<form method="post" action=".">
	    {% csrf_token %} 
	    {{ form|crispy }}
            <div class="col-xs-10 col-xs-offset-1">
                <input class='btn btn-block btn-custom' type="submit" value="{% trans 'Reset' %}" />
            </div>
	</form>
    </div>
</div>
{% endblock %}


