{% extends "base.html" %}
{% load i18n %}

{% block page_title %}Password changed{% endblock %}

{% block page_content %}
<div class="message-wrapper">
    <div class="row">
        <p class="lead">{% trans "Password changed" %}</p>
    </div>
</div>
{% endblock %}
