{% extends "base.html" %}
{% load i18n %}

{% block page_title %}Password reset{% endblock %}

{% block page_content %}
<div class="message-wrapper">
    <div class="row">
        <p class='lead'>{% trans "Email with password reset instructions has been sent." %}</p>
    </div>
</div>
{% endblock %}
