{% extends "base.html" %}
{% load i18n %}

{% block page_title %}We're almost there{% endblock %}

{% block page_content %}
<div class="message-wrapper">
    <div class="row">
        <p class="lead">{% trans "You are now registered. Activation email sent." %}</p>
    </div>
</div>
{% endblock %}
