{% extends "base.html" %}
{% load i18n %}

{% block page_title %}Registration is closed{% endblock %}

{% block page_content %}
<div class="message-wrapper">
    <div class="row">
        <p class="lead">{% trans "Registration is currently closed." %}</p>
    </div>
</div>
{% endblock %}
