{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block page_title %}Register{% endblock %}

{% block page_content %}
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1 class="page-header text-center">Register with your student.ccc.edu email and use it as a username</h1>
        <form method="post" action=".">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="col-xs-10 col-xs-offset-1">
                <input class='btn btn-block btn-custom' type="submit" value="{% trans 'Register' %}" />
            </div>
        </form>
    </div>
</div>

<hr/>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3 text-align-center'>
        <p>Need to <a href="{% url 'auth_login' %}">Login</a>?</p>
    </div>
</div>


{% endblock %}
