{% extends "base.html" %}

{% block page_title %}About us{% endblock %}


{% block page_content %}
<h1 class="page-header text-center">About us</h1>
<div class="col-md-6">
    <p class="lead">Right now this page is empty, so here's a <a href="https://en.wikipedia.org/wiki/Quokka">quokka</a> picture (<a href="http://imgur.com/gallery/PZWoQFe">source</a>) and some good old lorem ipsum for you!</p>

    <p>Amet facilisis magna etiam tempor, orci eu lobortis elementum, nibh tellus molestie nunc, non blandit massa enim nec? Ut tortor pretium viverra suspendisse potenti nullam ac tortor vitae purus faucibus!</p>
    <p>Nisl pretium fusce id velit ut tortor pretium. Tortor dignissim convallis aenean et tortor at risus viverra adipiscing at in tellus integer feugiat scelerisque varius morbi enim nunc, faucibus a?</p>
    <p>Pellentesque id nibh tortor, id aliquet lectus proin nibh nisl! Purus sit amet volutpat consequat, mauris nunc congue nisi, vitae suscipit tellus mauris a diam maecenas sed enim ut sem!</p>
    <p>Egestas tellus rutrum tellus pellentesque eu? Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci, a scelerisque purus semper eget duis at tellus at urna condimentum mattis!</p>
    <p>Elementum nisi, quis eleifend quam adipiscing vitae proin sagittis, nisl rhoncus mattis rhoncus, urna neque viverra! Pellentesque dignissim enim, sit amet venenatis urna cursus eget nunc scelerisque viverra mauris, in?</p>
</div>
<div class="col-md-6">
    <img src="http://i.imgur.com/PZWoQFe.png" class="img-rounded img-responsive" alt="Quokka" >
</div>
{% endblock %}
