{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">
	<title>{% block page_title %}{% endblock %} | Math Tutoring</title>
	{% include "base_css.html" %}
	{% block style %}
	{% endblock %}
    </head>

    <body>
	{% include "navbar.html" %}

	{% block jumbotron %}
	{% endblock %}
	<div class="container container-main">
	    {% block page_content %}
	    {% endblock %}
	</div>
	<!-- {% include "footer.html" %} -->
	{% include "base_js.html" %}

	{% block scripts %}
	
	{% endblock %}
	
	<script>
	 {% block jquery %}
	 
	 {% endblock %}
	</script>
	
    </body>
</html>
