{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Contact us{% endblock %}

{% block page_content %}
<h1 class="page-header text-center">Contact us</h1>

<div class='row'>
    {% if status_message %}
    <div class='col-sm-6 col-sm-offset-3'>
        <p class='text-align-center lead'>{{ status_message }}</p>
    </div>
    {% else %}
    <div class='col-sm-6 col-sm-offset-3'>
        <form role="form" action="" method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="col-xs-10 col-xs-offset-1">
                <button class="btn btn-block btn-custom" type="submit">Contact</button>
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}
