{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}Display our schedule{% endblock %}

{% block style %}
<link href="{% static 'css/bootstrap-datetimepicker.css' %}" rel="stylesheet">
<style>
 .bootstrap-datetimepicker-widget tr:hover {
     background-color: #808080;
 }

 #weekly-date-picker-addon:disabled {
     background-color: white;
     width: 7em;
 }

 .weekly-datepicker-form {
     display: table;
 }

 #weekly-date-picker {
     width: 7em;
 }
 label[for=weekly-date-picker] {
     margin-top: 5px;
     margin-right: 5px;
 }
 label[for=course-select] {
     margin-top: 5px;
 }

 #course-select {
     width: 17em;
 }

 .weekday-container {
     
 }

 #schedule-container {
     margin: 2em;
 }

 .closed-spot-button {
     margin: 2px;
     background-color: #DB6450;
     color: black;
 }

 .open-spot-button {
     margin: 2px;
     background-color: #75845C;
     color: floralwhite;
 }

 .overtime-spot-button {
     margin: 2px;
     background-color: #CCCCCC;
     color: dimgrey;
 }
 
</style>
{% endblock %}

{% block page_content %}

<div class="container">
    <h1 class="page-header text-center">Select week and course</h1>
    <div class="row">
	<div class="col-sm-4 col-sm-offset-2 form-inline weekly-datepicker-form" id="weekly-datepicker-group" >
	    <label for="weekly-date-picker">Select Week</label>
	    <div class="input-group">
		<input type='text' id="weekly-date-picker" class="form-control" placeholder="Here"/>
		<span class="input-group-addon">to</span>
		<input type='text' id="weekly-date-picker-addon" class="form-control" disabled="disabled"/>
	    </div>

	</div>
	<div class="col-sm-4 form-inline" id="course-select-group">
	    <label for="course-select">Select Course</label>
	    <select id="course-select" name="course" class="form-control">
                {% if initial_course %}
                
                <option value="{{ initial_course.code }}">{{ initial_course }}</option>
                
                {% else %}
                
                {% for course in courses %}
		<option value="{{ course.code }}">{{ course }}</option>
		{% endfor %}
                
                {% endif %}
	    </select>
	</div>
    </div>
</div>

<form action="{% url 'display_schedule' %}" method="POST" id="form">
    {% csrf_token %}
    <div class="contaiter" id="schedule-container">

    </div>
</form>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'js/weekpicker.js' %}"></script>
{% endblock %}

<script>
 {% block jquery %}
 $(document).ready(function() {
     var WEEKDAYS = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
     
     {% if initial_course %}
     $('#course-select option[value="{{ initial_course }}"]').attr("selected", "selected");
     {% else %}
     $("#course-select").prop("selectedIndex", -1);
     {% endif %}
     
     $("#form").submit(function(e) {
	 // selecting button that triggered form submission
	 var hour = $("input[type=submit][clicked=true]").attr("hour");
	 var date = $("input[type=submit][clicked=true]").attr("date");
	 // creating hidden forms
	 var $inputHour = $('<input />').attr('type', 'hidden').attr('name', 'hour').attr('value', hour);
	 var $inputDate = $('<input />').attr('type', 'hidden').attr('name', 'date').attr('value', date);
	 $(this).append($inputHour);
	 $(this).append($inputDate);
     });
     
     $(document).on("click", ".open-spot-button", function() {
	 // marking a button that triggered form submission
	 $("input[type=submit]", $(this).parents("form")).removeAttr("clicked");
	 $(this).attr("clicked", "true");
     });	
     
     $("#weekly-date-picker, #course-select").on("dp.change change", refreshSchedule);

     function refreshSchedule(e, callback) {
	 $("#schedule-container").empty();
         var $message = $("<div>", { class: "alert alert-success text-center", text: "Please wait..." });
         $("#schedule-container").append($message);
	 if(!(/\d\d\/\d\d\/\d\d\d\d/.test($("#weekly-date-picker-addon").val()))) {
             $("#schedule-container").empty();
             $("#weekly-datepicker-group").addClass("has-error");
             var $warning = $("<div>", { class: "alert alert-danger text-center", text: "Select week" });
             $("#schedule-container").append($warning);
	     return false;
	 }
	 else if(!$("#course-select").val()) {
	     $("#schedule-container").empty();
	     $("#course-select-group").addClass("has-error");
             var $warning = $("<div>", { class: "alert alert-danger text-center", text: "Select a course" });
             $("#schedule-container").append($warning);
	     return false;
	 }
	 $("#weekly-datepicker-group, #course-select-group").removeClass("has-error");
	 var startDate = $("#weekly-date-picker").val()
	     var endDate = $("#weekly-date-picker-addon").val()
	     $.ajax({
		 method: "GET",
		 url: "{% url 'get_open_spots_ajax' %}",
		 data: {
		     startDate: startDate,
		     endDate: endDate,
		     course: $("#course-select").val(),
		     csrfmiddlewaretoken: "{{ csrf_token }}",
		 },
		 success: function(data, textStatus, jqxhr) {
                     displaySchedule(data.openSpots);
		     if (callback instanceof Function) {
			 callback(data.openSpots);
		     }
		 },
                 error: function(ts) {
                     console.log(ts.responseText);
                 },
	     });
     }
     
     function convertToAmpm(hour){
	 var postfix = hour < 12 ? "am" : "pm";
	 var ampmHour = (hour % 12 || 12).toString();
	 return ampmHour + " " + postfix;
     }
     
     function displaySchedule(openSpots){
	 /* openSpot = {
	    weekday: string,
	    date: string, (mm/dd)
	    openSpots: {
	    'hour': {numberOfSpots: integer, open:boolean},
	    ...
	    }
	    } */
	 $("#schedule-container").empty();
	 var $row = $("<div>", { class: "row" });
	 for(idx = 0; idx < WEEKDAYS.length; idx++) {
	     var currentWeekday = WEEKDAYS[idx];
	     var dateString = openSpots[currentWeekday].display_date;
	     var date = openSpots[currentWeekday].date
	     var $weekdayCol = $("<div>", { class: "col-sm-4 weekday-container", id: currentWeekday });

	     var weekdayHeaderText = currentWeekday + " " + dateString;
	     var $weekdayHeader = $("<p>", { class: "weekday-label text-center", text: weekdayHeaderText });
	     $weekdayCol.append($weekdayHeader);
	     
	     var $weekdayButtonsList = $("<ul>", { class: "list-unstyled", date: date });
             var isEmptyDay = false;

             if($.isEmptyObject(openSpots[currentWeekday].openSpots))
                 isEmptyDay = true;
	     for(hour in openSpots[currentWeekday].openSpots) {
		 var spotsOpen = openSpots[currentWeekday].openSpots[hour].numberOfSpots;
                 var isOpen = openSpots[currentWeekday].openSpots[hour].open;
		 var buttonText = convertToAmpm(hour) + ": ";
		 if(spotsOpen == 1)
		     buttonText += spotsOpen + " spot available";
		 else if(spotsOpen > 1)
		     buttonText += spotsOpen + " spots available";
		 else
		     buttonText += " no spots available";
		 var $listItem = $("<li>", {});
		 var $openSpotButton = $("<input>", { class: "btn btn-block open-spot-button", hour: hour, date: date, value: buttonText, type: "submit" });
                 if(!isOpen) {
                     $openSpotButton.removeClass("open-spot-button");
		     $openSpotButton.addClass("overtime-spot-button");
		     $openSpotButton.prop("disabled", true);
                 }
                 else if(spotsOpen < 1) {
		     $openSpotButton.removeClass("open-spot-button");
		     $openSpotButton.addClass("closed-spot-button");
		     $openSpotButton.prop("disabled", true);
		 }
		 $listItem.append($openSpotButton);
		 $weekdayButtonsList.append($listItem);
	     }
             if(isEmptyDay) {
                 var $listItem = $("<li>", {});
                 var $closedButton = $("<input>", { class: "btn btn-block closed-spot-button", value: "We're closed"});
                 $closedButton.prop("disabled", true);
                 $listItem.append($closedButton);
                 $weekdayButtonsList.append($listItem);
             }

             $weekdayCol.append($weekdayButtonsList);
             
	     if(idx % 3 == 0 && idx != 0) { // Create new row and append it to the container
		 $("#schedule-container").append($row);
		 $row = $("<div>", { class: "row "});
	     }
	     
	     $row.append($weekdayCol)
	 }
	 // Remainder
	 $("#schedule-container").append($row);
     }
     $("#weekly-date-picker").trigger("dp.change");
 });

 {% endblock %}
</script>
