{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Edit profile{% endblock %}


{% block page_content %}
<div class="row">
    {% if first_time %}
    <div class="col-sm-6 col-sm-offset-3">
	<h1 class="page-header text-center">{{ message }}</h1>
	<form method="post" action=".">
	    {% csrf_token %}
	    {{ form|crispy }}
            <div class="col-xs-10 col-xs-offset-1">
	        <input class='btn btn-block btn-custom' type="submit" value="Save changes" />
            </div>
	</form>        
    </div>
    {% else %}
    <div class="col-sm-6">
	<h1 class="page-header text-center">Edit Profile</h1>
        {% if message %}
        <h4 class="page-header text-center">{{ message }}</h4>
        {% endif %}
	<form method="post" action=".">
	    {% csrf_token %}
	    {{ form|crispy }}
            <div class="col-xs-10 col-xs-offset-1">
	        <input class='btn btn-block btn-custom' type="submit" value="Save changes" />
            </div>
	</form>        
    </div>
    <div class="col-sm-6">
        <h1 class="page-header text-center">Appointment Information</h1>
        <div id="appointment-information">
	    {% if next_appointment_date %}
	    <h4 class="page-header">Your next appointment is on {{ next_appointment_date }}</h4>
            <h4>If you would like to cancel your appointment click on the button below.</h4>
            <div class="col-xs-10 col-xs-offset-1">
                <button class="btn btn-block btn-danger" id="cancel-appointment-button">Cancel the Appointment</button>
            </div>
            </div>
            <div id="dialog-confirm" title="Are You Sure?">
                <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Are you sure you want to cancel this appointment?</p>
            </div>
            {% else %}
            <h4 class="page-header">You have no appointments scheduled</h4>
            <p><a href="{% url 'display_schedule' %}">Click here</a> to schedule one!</p>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}


<script>
 {% block jquery %}

 $(document).ready(function() {
     $("#dialog-confirm").dialog({
         autoOpen: false,
         resizable: false,
         height: 200,
         modal: true,
         open: function() {
             $(".ui-dialog-buttonpane").find("button:contains('Yes')").addClass("btn btn-danger");
             $(".ui-dialog-buttonpane").find("button:contains('No')").addClass("btn btn-custom");             
         },
         buttons: {
             "Yes, cancel it": function() {
                 $(this).dialog("close");
                 $("#appointment-information").empty().html("Working...");
                 
                 $.ajax({
                     type: "POST",
                     url: "{% url 'remove_appointment_ajax' %}",
                     data: {
                         csrfmiddlewaretoken: "{{ csrf_token }}",
                     },
                     success: function(data, textStatus, jqxhr) {
                         $("#dialog-confirm").dialog("destroy");
                         $("#appointment-information").empty();
                         if(data.success)
                             var $confirmationText = $("<h4>", {text: "Your appointment has been cancelled"});
                         else
                             var $confirmationText = $("<h4>", {text: "An error has occured, try again later"});
                         $("#appointment-information").append($confirmationText);
                     },
                 });                                
             },
             "No, keep it": function() {
                 $(this).dialog("close");
             },
         },
     });
     
     $("#cancel-appointment-button").on("click", function(e) {
         $("#dialog-confirm").dialog("open");
         
     });
 }); 
 {% endblock %}
</script>
