{% extends "base.html" %}

{% block page_title %}Welcome!{% endblock %}

{% block jumbotron %}
<div class="hero-unit">
    <div class="home-box">
            <h2>Math Center at ...</h2>
            <p>Schedule appointments with us from anywhere!</p>
            <p>Click below to check out our schedule</p>
            <p class="pull-right"><span style="font-size:10px">picture was totally <strike>stolen</strike> borrowed from <a href="https://thechicagoblock.files.wordpress.com/2012/10/uic_006.jpg">here</a> for now.</span></p>
            <a class="btn btn-lg btn-custom" href="{% url 'display_schedule' %}">Check out our schedule</a>
        </div>
</div>
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-6">
        <h2>App is still in development, so here are some notes</h2>
        <p>Here's a list of things that currently work</p>
        <ul>
            <li>You can see our schedule and number of spots open for a selected course</li>
            <li>Yes, it checks with Math Center's Google calendar</li>
            <li>One can register with .ccc email and start scheduling appointments directly in Math Center's Google calendar</li>
            <li>One can remove his/her own appointment and reschedule if needed</li>
            <li>Supplies settings file for the <a href="https://bitbucket.org/vkolmakov1/academic-scheduler-chrome-extension">scheduling Chrome Extension</a> and allows one to edit them</li>
        </ul>
        <p>Here's a list of things that are in development and coming soon:</p>
        <ul>
            <li><strike>Better</strike> decent user experience</li>
        </ul>        
    </div>
    <div class="col-md-6">
        <h2>Here are some helpful links:</h2>
        {% if helpful_links %}
        <div class="list-group">
            {% for link in helpful_links %}
            <a href="{{ link.link }}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ link.title }}</h4>
                <p class="list-group-item-text">{{ link.description }}</p>
            </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

<script>
 {% block jquery %}
 $('.list-group-item').on('click', function(){
     // Opens new tab if you click on a link inside helpful links box
     window.open(this.href,'_blank');
     return false;
 });



 {% endblock %}
</script>
