<nav class="navbar navbar-default navbar-custom">
    <div class="container-fluid">
	<div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="{% url 'home' %}">Math Center</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
	    <ul class="nav navbar-nav">
		<li><a href="{% url 'display_schedule' %}">Schedule</a></li>
		{% if request.user.is_authenticated %}
                <li><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
                {% endif %}
		<li><a href="{% url 'about' %}">About</a></li>
		<li><a href="{% url 'contact' %}">Contact</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
		{% if request.user.is_authenticated %}
		<li><a href="{% url 'edit_profile' %}">Logged in as {{ user.username }}</a></li>
		<li><a href="{% url 'auth_logout' %}">Logout</a></li>				
		{% else %}
		<li><a href="{% url 'auth_login' %}">Login</a></li>
		<li><a href="{% url 'registration_register' %}">Register</a></li>
		{% endif %}
	    </ul>
	</div><!-- -/.nav-collapse -->
    </div><!-- -/.container-fluid -->
</nav>
