{% extends "base.html" %}

{% block page_title %}Schedule appointment{% endblock %}


{% block page_content %}
<div class="row">
    <div class='col-sm-6 col-sm-offset-3'>
	{% if can_schedule_info.can_schedule %}
	<h1 class="page-header text-center">Confirm appointment details</h1>
	<p>{{ can_schedule_info.name }}, your appointment  on <strong>{{ can_schedule_info.display_datetime }}</strong> is ready to be scheduled</p>
        <div id="buttons-container">
	    <div class="col-sm-6">
	        <button class="btn btn-custom btn-block" id="schedule-button">Schedule!</button>
	    </div>
	    <div class="col-sm-6">
	        <button class="btn btn-custom btn-block" id="cancel-button">Cancel</button>
	    </div>
        </div>
	{% else %}
	<h1 class="page-header text-center">You already have an appointment scheduled</h1>
	<p><strong>on {{ can_schedule_info.display_datetime_next }}</strong></p>
	<p>Would you like to <a href="{% url 'edit_profile' %}">remove it</a> and reschedule?</p>
	{% endif %}
    </div>
</div>
{% endblock %}
<script>
 {% block jquery %}
 $(document).ready(function() {
     $("#schedule-button").on("click", function(e) {
         var $buttonsContainer = $("#buttons-container");
         $buttonsContainer.empty();
         $buttonsContainer.html("Working...");
	 $.ajax({
	     method: "POST",
	     url: "{% url 'schedule_appointment_ajax' %}",
	     data: {
		 csrfmiddlewaretoken: "{{ csrf_token }}",
		 google_calendar_start_datetime: "{{ can_schedule_info.google_calendar_start_datetime }}",
		 google_calendar_end_datetime: "{{ can_schedule_info.google_calendar_end_datetime }}",
		 hour: "{{ can_schedule_info.hour }}",
		 weekday: "{{ can_schedule_info.weekday }}",
	     },
	     success: function(data, textStatus, jqxhr) {
                 $buttonsContainer.empty()
                 if(data.success) {
                     var $confirmationText = $("<h4>", {text: "Your appointment has been scheduled!"});
                 }
                 else {
                     var $confirmationText = $("<h4>", {text: "An error has occured."});
                 }
                 $buttonsContainer.append($confirmationText);

             },
             error: function(ts) {
                 console.log(ts.responseText);
             },
         })
     });

     $("#cancel-button").on("click", function(e) {
	 console.log("CANCELLED!");
         window.location = "{% url 'display_schedule' %}";
     });
 });

 {% endblock %}
</script>
